/* .player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  margin: 5px;
}
*/

.player-number {
  width: 15px;
}

.player-goals {
  width: 20px;
}

.player-exclusions {
  width: 20px;
}

.player-name {
  max-width: 400px;
}

span {
  height: 100%;
  font-size: 2.2em;
  font-weight: 400;
}

input {
  font-size: 1.5em;
  font-weight: 400;
  width: 150px;
}

.scoreboard {
  
  .player-name{
    max-width: 200px;
  }
    span {
      font-weight: 500;
      white-space:  nowrap;
      text-align: center;
  }
}