.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family:Verdana;
}

.settings-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.settings-container p {
  margin-bottom: 20px;
}

.match-settings td {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

.match-settings__input-group {
  display: flex;
  flex-direction: column;
}

.match-settings__input-group label {
  margin-bottom: 5px;
}

input.time-convert {
  width: 180px;
}

.settings {
  input.time-input {
    width: 190px;
  }

  input {
    font-size: 16px;
  }
}

.start-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.start-button:hover {
  background-color: #0056b3;
}
